<div id=page_wrapper>
	<b>User id:</b> <%= @user.id %><br>
	<b>User Email:</b> <%= @user.email %><br>
	<b>User created at:</b> <%= @user.created_at %><br>
	<b>User created at:</b> <%= @user.password %><br>
</div>